body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
}

/* Header style */

.navigation {
    width:120px;
    height:100vh;
    background-color: #f5f5f5;
    z-index:6;
}

.logo-container {
    position:relative;
    width:100%;
    height:185px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:6;
}

.logo-lr {
    object-fit: contain;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:30px;
    width:100%;
    height: calc(100% - 185px);
    box-sizing:border-box;
}

/* Menu */

.menu {
    position:absolute;
    top:0;
    left:120px;
    width: calc(100% - 120px);
    height:100vh;
    background-color:#f5f5f5;
    z-index:5;
    transform:translateX(-100%);
    transition:transform .75s ease-out;
}

.menu.open {
    transform:translateX(0);
}

.menu > nav {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.menu > nav > ul {
    padding-left:200px;
}

.menu > nav > ul > li {
    width:fit-content;
    list-style-type: none;
    margin: 60px 0;
}

.menu > nav > ul > li > a {
    display:block;
    color:#d04a2a;
    font-family: 'Rajdhani';
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    overflow:hidden;
}

.w-o {
    padding: 0 1rem 0 0;
}

.link-letter {
    display:inline-block;
}

/* Sidebar Button */

.sidebar-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    z-index: 6;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.cooptation-button {
    cursor:pointer;
    color:#d04a2a;
    border:1px solid #d04a2a;
    background-color:transparent;
    padding:20px;
    font-family: 'Rajdhani';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    transition:background-color .5s ease, color .5s ease;
}

.cooptation-button:hover {
    background-color:#d04a2a;
    color:white;
}

/* Social Network */

.social {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social-link {
    width:fit-content;
    z-index:6;
    transition:transform .5s ease;
}

.social-link:hover {
    transform:scale(1.2);
}

.social-link:not(:first-child) {
    margin-top:20px;
}

/* Burger Menu */

.burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    position: relative;
    transition: all .5s ease;
    user-select: none;
    width: 60px;
    margin-bottom:auto;
    z-index: 12;
}

.burger-menu.open > .b-line-top {
    top: 9px;
    transform: rotate(45deg);
}

.burger-menu.open > .b-line-mid {
    opacity:0;
}

.burger-menu.open > .b-line-bottom {
    top: 5px;
    transform: rotate(-45deg);
}

.b-line {
    background: #d04a2a;
    position: relative;
    transition: all .5s ease;
}

.b-line-top {
    height: 2px;
    top: 0;
    width: 30px;
}

.b-line-mid {
    height: 2px;
    top: 8px;
    width: 30px;
  }

.b-line-bottom {
    height: 2px;
    top: 16px;
    width: 30px;
}

/* Main style */

.home {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items: stretch;
}

.single-view {
    cursor:pointer;
    position:relative;
    flex: 1;
    transition:flex 1s ease;
}

.single-view.active {
    flex: 2;
}

/* Overlay */

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    transition:opacity 1s ease;
    opacity:0.3;
    z-index:2;
}

.single-view.active > .overlay {
    opacity:0.1;
}

/* Image container */

.image-container {
    position:absolute;
    width:100%;
    height:100%;
}

.view-image {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
}

/* View content style */

.view-content {
    position: relative;
    display:flex;
    flex-direction: column;
    z-index:3;
    padding:60px;
    padding-top:100px;
    height:100%;
    box-sizing:border-box;
}

h2 {
    color:white;
    font-family: 'Rajdhani';
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top:0;
    margin-bottom:10px;
}

p {
    color:white;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    width:360px;
}

.word {
    display:inline;
    transform:translateY(100%);
    transition: opacity .75s ease, transform .75s ease;
    opacity:0;
}

.single-view.active .word {
    opacity:1;
    transform:translateY(0);
}

/* Button style */

.button {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:auto;
    justify-content: center;
}

.button-text {
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color:white;
    margin-right:26px;
}

.separator {
    height:1px;
    background-color:white;
    flex:1;
    z-index:1;
}

.circle {
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:transparent;
    border:1px solid #d04a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: background-color .5s ease, border .5s ease, transform .5s ease;
    margin-left:-10px;
}

.circle:hover {
    background-color:#d04a2a;
    transform:scale(.9);
}

.single-view.active .circle {
    background-color:#d04a2a;
}

.arrow {
    width:30px;
    height:30px;
}